.leaderboard{
  margin:auto;
  text-align: center;
}
#main{
 padding: 10px;
 background-color: #e9edc9
}
#bgvid{
  margin-top: 15px;
  position:fixed;
  height: 140vh;
  width: 100%;
  object-fit:cover;
  z-index: -1;
}
#home_header{
  font-size: 40px;  
  font-weight: 800;
  font-family: 'Impact',"fantasy";
}
#playbox {
 margin-left: auto;
 margin-right: auto;
  border-style:ridge;
  background-color:blanchedalmond;
  width: 900px;
  height: 600px;
  cursor: crosshair; 
}
#parent-profile-div{
  padding-left: 40px;
  align-content: center;
}
#current-profile-div{
  margin-top: -180px;
  margin-inline: 450px;
}
#title-leader-head{
  text-shadow: 2px 2px 2px lightblue;
}
.rows{
  font-weight:700;
}
.rows-missed{
  color:red;
  font-weight:800;
}
.rows-hits{
  color:green;
  font-weight:800;
}
.header-leader{
  font-weight:900;
  background-color: lightgray;
  width:135px;
}
#user-col-leader{
  font-weight: 900;
    background-color: lightgray;
}
.circle {
  border-radius: 100%;
  border: 2px solid rgb(30, 30, 29);
  width: 20px;
  height: 20px;
}
.form {
  color:aliceblue;
    position: absolute;
    top: 32%;
    left: 50%;
    /* background: rgb(250, 229, 229); */
    background: transparent;
    width: 450px;
    margin: -140px 0 0 -225px;
    padding: 40px;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
    border-radius: 20px;
}
#user-profile-lead{
  background-color: azure;
}
.leaderboard-profile-image{
  width: 50px;
  height: 50px;
  padding: 1px;
}
#container{
  padding-bottom: 40px;
}
#user_profile{
  width: 400px;
  height: 400px; 
  border-style:solid;
  border-width: 10px;
}

#user-profile-name{
  font-size: 70px;
  padding: 30px;
}
#logger{
  align-content: center;
}
.stats{
  padding: 10px;
}
.text-center{
  text-align: center;
}
ul{
  list-style: none;
  margin: auto;
  font-weight: 500;
  background-color: #8ecae6;

}