
#playbox {
  border-style: dotted;
  background-color:blanchedalmond;
  width: 900px;
  height: 600px;
 

}

.circle {
  border-radius: 100%;
  border: 2px solid rgb(30, 30, 29);
  background-color: greenyellow;
  width: 10px;
  height: 10px;

}